extends layout
block content
  script( src='/javascripts/home.js') var questionsLeft =!{JSON.stringify(questions_left)}
  br
  br
  div(class='col-md-12')
    div(id='survey_div', style='display: none')
      table(style="margin: 0 auto")
       tbody
        tr 
          td
            h1(id='question') #{question} 
        tr 
          td
            label(for='answer_one') 
              input(id='radio_answer_one' type='radio', name='answer', value='1') 
              h3(id='answer_one', style="display: inline")
        tr
          td
            label(for='answer_two') 
              input(id='radio_answer_one' type='radio', name='answer', value='2')
              h3(id='answer_two', style="display: inline") 
        tr
          td
            label(for='answer_three') 
              input(id='radio_answer_one' type='radio', name='answer', value='3') 
              h3(id='answer_three', style="display: inline")
        tr
          td
            label(for='answer_four')  
              input(id='radio_answer_one' type='radio', name='answer', value='4')
              h3(id='answer_four', style="display: inline")
        tr
          td
            br
            button(id='answer_button' class='pull-right btn btn-primary', type='button') Submit Response
    h3(id='no_questions', class='text-center', style='display: none') There are no more questions to answer at this time!
